<div class='p-8 w-full h-full'>
  <%= link_to zone, class: 'flex items-center block w-full h-full bg-blue-500 text-white rounded-xl border-solid border-2 border-blue-900' do %>
    <p class="text-7xl text-center w-full"><%= zone.name %></p>
  <% end %>
</div>
